.secHeader
    background-color: #004A61
    direction: rtl
    padding: 1rem
    .candidates_card
        background-image: url('../img/cardintate_card_bg.png')
        background-repeat: no-repeat
        background-size: contain
        width: 22rem
        height: 30.5rem
        @media screen and ( max-width: 1068px )
            width: 17rem
            height: 25rem
            img
                width: 13.4rem !important
        @media screen and ( max-width: $phone )
            width: 17rem
            height: 25.5rem
            img
                width: 13.4rem !important
        @media screen and ( max-width:  270px)
            width: 13rem
            height: 19.5rem
            img
                width: 10.1rem !important
        .userpic
            display: flex
            align-items: center
            justify-content: center
            img
                width: 18rem
    .logo
        margin-bottom: 4rem
        img
            width: 100%
    .about
        text-align: center
        color: #fff
        margin-top: 2rem
        .title
            color: $fifth_color

        .desc
            font-size: 3rem
            @media screen and ( max-width: 1200px )
                font-size: 2.3rem
            @media screen and ( max-width: 670px )
                font-size: 2rem
            @media screen and ( max-width: $phone )
                font-size: 1.5rem

    .candidates_info
        padding: 1.5rem 2rem
        position: relative
        &::after,&::before
            position: absolute
            content: ''
            background: #fff
            width: 20px
            height: 20px
            top: 43%
            transform: rotate(45deg)
            @media screen and ( max-width: 1200px )
                width: 15px
                height: 15px
            @media screen and ( max-width:  270px)
                width: 10px
                height: 10px

        &::after
            right: 0
        &::before
            left: 0
        .name
            color: $fifth_color
            font-size: 3rem
            background: #004457
            padding-right: 1rem
            display: flex
            justify-content: space-between
            @media screen and ( max-width: 1200px )
                font-size: 2.2rem
            @media screen and ( max-width: 670px )
                font-size: 1.9rem
            @media screen and ( max-width: 560px )
                font-size: 1rem
            @media screen and ( max-width: $phone )
                font-size: 0.7rem
            @media screen and ( max-width:  270px)
                font-size: 12px
                font-weight: 600
                span
                    &:nth-child(1)
                        padding: 10px 0px
            .vote_number
                background-color: $fifth_color
                display: flex
                align-items: center
                padding: 5px 20px
                position: relative
                font-weight: 600
                color: #fff
                &::after
                    content: 'رقم المرشح'
                    position: absolute
                    top: -25px
                    right: 0
                    width: 100%
                    font-size: 14px
                    text-align: center
                    font-weight: normal
                    color: $fifth_color
                    @media screen and ( max-width: 670px )
                        font-size: 10px
                    @media screen and ( max-width:  270px)
                        font-size: 8px
    .more_person_info
        font-size: 3rem
        color: #fff
        @media screen and ( max-width: 1200px )
            font-size: 2.3rem
        @media screen and ( max-width: 670px )
            font-size: 2rem
        @media screen and ( max-width: $phone )
            font-size: 1.6rem
        @media screen and ( max-width:  270px)
            font-size: 1rem
    .skill_list
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        column-gap: 20px
        .skill_container
            display: flex
            align-items: center
            margin-top: 20px
            .icon
                display: flex
                img
                    width: 100%
                    @media screen and ( max-width: $phone )
                        width: 95%
            .text
                display: flex
                flex-direction: column
                justify-content: space-between
                color: #fff
                margin-right: 5px
                font-size: 19px
                font-weight: 600
                @media screen and ( max-width: $phone  )
                    font-size: 15px
                .text-title
                    color: $fifth_color
                    a
                        color: $fifth_color
                        text-decoration: none
    .pic-container
        padding: 10px
        @media screen and ( max-width: 992px )
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
    .container-fluid
        @media screen and ( max-width: 992px )
            padding: 0rem
        @media screen and ( min-width: 993px )
            padding: 1rem 2rem
