.electoral_target
    padding: 2rem 0rem 3rem
    direction: rtl
    background-color: #f9f9fa
    .col-md-3,.col-md-6
        align-items: center
        justify-content: center
        display: flex
    .card
        background: transparent
        box-shadow: none
        margin-top: 1rem
        border: none
        &.bg
            background-image: url('../img/bg6.png')
            background-size: cover
            background-repeat: no-repeat
            padding: 1rem
            border-radius: 30px
        .head
            display: flex
            align-items: center
            column-gap: 5px
            font-size: 26px
            @media screen and ( max-width:$tablet  )
                font-size: 20px
                justify-content: center
            @media screen and ( max-width: $Stablet )
                img
                    width: 50px
            img
                width: 70px
        .icon
            // margin-bottom: 1rem

        p
            @media screen and ( max-width: $Stablet )
                text-align: center
                margin-top: 1rem
                font-weight: 500
                font-size: 20px
