footer
    background-color: #004a61
    padding: 2rem 0rem
    color: #fff
    direction: rtl
    background-image: url('../img/footerbg.png')
    background-repeat: no-repeat
    background-size: cover
    position: relative
    .bg_ex
        position: absolute
        top: -63%
        left: -18%
        width: 485px
        @media screen and ( max-width:1350px  )
            top: -57%
            left: -22%
            width: 35%
        @media screen and ( max-width: 1095px )
            width: 35%
        @media screen and ( max-width: 996px )
            width: 41%
            top: -14%
            left: -25%
        @media screen and ( max-width: 767px )
            width: 53%
            top: -12%
            left: -32%

    .logo_content
        display: flex
        width: 100%
        align-items: center
        margin-bottom: 1rem
        img
            width: 47%
        @media screen and ( max-width: 996px )
            justify-content: center
            margin-bottom: 4rem
            img
                width: 60%
        @media screen and ( max-width: $phone )
            img
                width: 70%
        .to_up_btn
            border: none
            outline: none
            border: 1px solid #fff
            background: #fff
            border-radius: 50%
            width: 40px
            height: 40px
            padding: 10px
            display: flex
            align-items: center
            justify-content: center
            @media (max-width: $tablet)
                width: 30px
                height: 30px
            img
                width: 47%
    ul
        display: flex
        flex-direction: column
        text-align: right
        align-items: flex-start
        list-style: none
        flex-wrap: wrap
        @media (max-width: $tablet)
            display: block
            padding-top: 2rem
            li
                margin-bottom: 1rem
        li
            @media screen and ( max-width: 996px )
                text-align: center
                justify-content: center
                h4,a
                    font-size: 30px
            @media screen and ( max-width: $phone )
                h4,a
                    font-size: 20px
        .social_links
            display: flex
            flex: 1 1 auto
            width: 100%
            flex-wrap: wrap
            a
                border: 2px solid $second_color
                padding: 7px 10px
                display: flex
                align-items: center
                justify-content: center
                border-radius: 8px
                background-color: transparent
                margin: 20px 10px
                i
                    color: $second_color
                    font-size: 20px
                &:hover
                    background-color: $second_color
                    i
                        color: #fff
        a
            text-decoration: none
            color: #fff
            font-size: 18px
            @include mainTransition
            @media (max-width: $tablet)
                font-size: 16px
            &:hover
                color: #c1972f
        i
            font-size: 2rem
            @media (max-width: $tablet)
                font-size: 1.7rem
        .title
            color: $fifth_color
    p
        text-align: center
        margin-top: 0.2rem
