.navbar
    background: #fff
    direction: rtl
    position: fixed
    width: 100%
    z-index: 999999999
    backdrop-filter: blur(14px)
    top: 0
    left: 0
    right: 0
    @include mainTransition
    img
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s
        width: 190px
        @media screen and ( max-width:$phone  )
            width: 150px
    &.navScroll
        background-color: #ffffffad
        box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f
        img
            width: 100px
    .nav-link
        color: $third_color !important
        border-radius: 64px
        font-size: 17px
        font-weight: 500
        margin: 0px 0.5rem
        position: relative
        @include mainTransition
        &::after
            content: ""
            height: 2px
            left: 0
            position: absolute
            top: 43px
            transform: scaleX(0)
            transform-origin: right top 0
            transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s
            background-color: $second_color
            width: 100%
        &:hover , &.active
            // background: $second_color
            color: $second_color !important
            // box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f
            &::after
                transform: scaleX(1)

        @media screen and ( max-width: 992px  )
            border-radius: 10px
            padding: 10px
            margin: 1rem
    .navbar-brand
        display: flex
        align-items: center
        justify-content: center
    .navbar-toggler
        background-color: transparent
        border: none
        color: $button-hoverbg
        outline: none
        padding: 5px 13px
        box-shadow: none
        font-size: 41px
        &:focus
            box-shadow: none
        @media screen and ( max-width:$phone  )
            font-size: 25px
            padding: 5px 11px

    .navbar-collapse
        justify-content: center
.sidebar
    position: fixed
    width: 100%
    height: 100%
    z-index: 99999
    direction: rtl
    top: 13%
    pointer-events: none
    @include mainTransition
    &.navScroll
        top: 8%
    .sidebar-content
        top: 0
        left: 0
        bottom: 0
        position: absolute
        transition: all 0.3s ease-in-out 0s

    .sidebar-overlay
        top: 0
        left: 0
        bottom: 0
        position: absolute
        transition: all 0.3s ease-in-out 0s
        right: 0
        opacity: 0
        width: 100%
        z-index: 999
        transform: scale(0)
        background: rgba(0, 0, 0, 0.4)

    .sidebar-content
        width: 80%
        color: #333
        padding: 15px
        z-index: 9999
        background-color: #0c4a6626
        backdrop-filter: blur(31px)
        transform: translateX(150%)
    &.active
        pointer-events: all
        .sidebar-content
            transform: translateX(25%)
        .sidebar-overlay
            opacity: 1
            transform: scale(1)
    .sidebar-content
        .nav-link
            color: $third_color !important
            border-radius: 64px
            font-size: 26px
            font-weight: 500
            margin: 0px 0.5rem
            position: relative
            @include mainTransition
            &::after
                content: ""
                height: 2px
                left: 0
                position: absolute
                top: 55px
                transform: scaleX(0)
                transform-origin: right top 0
                transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, -webkit-transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s
                background-color: $second_color
                width: 100%
            &:hover , &.active
                color: $second_color !important
                &::after
                    transform: scaleX(1)

            @media screen and ( max-width: 992px  )
                border-radius: 10px
                padding: 0px
                margin: 3rem 1rem
