section.skill_review
    .container 
        .row 
            .col-md-12
                .membership 
                    h2.main-title
                        .text المؤهلات العلمية :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-6
                                .item(data-sort='01')
                                    .text درجة الماجستير في الفلسفة، إدارة الجودة في المقاولات، جامعة نيوكاسل، بريطانيا.
                            .col-md-6
                                .item(data-sort='02')
                                    .text درجة الماجستير في الهندسة المدنية الإنشائية، جامعة نيوكاسل، بريطانيا.
            .col-md-12
                .membership 
                    h2.main-title
                        .text الخبرات العملية :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-4
                                .item(data-sort='01')
                                    .text مدير تنفيذي بشركة صناعات الكعكي.

                            .col-md-4
                                .item(data-sort='02')
                                    .text مدير تنفيذي بمؤسسة عادل كعكي للمقاولات.
                            .col-md-4
                                .item(data-sort='03')
                                    .text مدير تنفيذي بشركة محمد عبد الله كعكي وإخوانه.
                            .col-md-4
                                .item(data-sort='04')
                                    .text عضو مجلس المديرين بشركة نجوم الملاعب.
                            .col-md-4
                                .item(data-sort='05')
                                    .text مهندس أول بنية تحتية، شركة وورلي (جدة).
                            .col-md-4
                                .item(data-sort='06')
                                    .text عضو الهيئة السعودية للمهندسين (مهندس مستشار).
                            .col-md-4
                                .item(data-sort='07')
                                    .text مؤسس مكتب علاء عادل كعكي للاستشارات الهندسية.






            .col-md-12
                .membership
                    h2.main-title
                        .text  أبرز الإنجازات :
                    .container-fluid.skill-review-items
                        .row
                            .col-md-12
                                .item(data-sort='01')
                                    .text خبرة عشرون عاماً في الاستشارات الهندسية والمقاولات
                            .col-md-12
                                .item(data-sort='02')
                                    .text أحد أهم الموردين لعدد كبير من المنتجات الغذائية لأسواق مكة المكرمة
                            .col-md-12
                                .item(data-sort='03')
                                    .text
                                        | جهود متميزة في المسؤولية المجتمعية: توزيع سلال غذائية في مكة المكرمة والجموم خلال جائحة كورونا.
                            .col-md-12
                                .item(data-sort='04')
                                    .text جهود بارزة في تأمين الاكتفاء الغذائي لضيوف الرحمن في موسمي الحج والعمرة. 
                            .col-md-12
                                .item(data-sort='05')
                                    .text
                                        | حضور قوي في الملاعب الرياضية مع أندية مختلفة: معتمد من الفيفا كوكيل أعمال لاعبين.

            .col-md-12    
                .vision 
                    h2.main-title
                        .text الرؤية :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-12
                                .item.desc
                                    .text استدامة صناعية واقتصادية لرفع المستوى المعيشي للمجتمع المكي
            .col-md-12    
                .msg 
                    h2.main-title
                        .text الرسالة :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-12
                                .item.desc
                                    .text الارتقاء بجودة الكيانات والمؤسسات الصناعية والهندسية لإثراء الناتج المحلي بما يؤمن فرص استثمارية مستقرة لرفع عجلة الاقتصاد المكي
            .col-md-12
                .goals
                    h2.title أهداف البرنامج الانتخابي
                    .goal-list 
                        .goal-item 
                            span(data-sort='1').number
                            p.text تطوير نموذج عمل مكاتب الاستشارات الهندسية والمقاولات بما يخلق كيانات اقتصادية قوية وتنافسية.

                        .goal-item 
                            span(data-sort='2').number
                            p.text العمل على وضع أسس وأنظمة تمكن قطاع البناء والتشييد من التضامن والتكامل مع الشركات والخبرات الدولية بما يُمكنها من تنفيذ المشاريع بجودة عالية.


                        .goal-item 
                            span(data-sort='3').number
                            p.text دعم إنشاء بيت خبرة هندسي يجمع أفضل الكفاءات الهندسية لتنفيذ المشاريع الكبرى محلياً مما يُمكنها من المنافسة في تنفيذ المشاريع الكبرى دولياً.
                        .goal-item 
                            span(data-sort='4').number
                            p.text العمل على فتح آفاق تعاون أكبر بين القطاع العام والخاص في وضع خطط تطوير البنية التحية وتطوير السياسات الاستثمارية بما يحقق نمو القطاع الخاص وزيادة الناتج المحلي بمكة المكرمة.
                        .goal-item 
                            span(data-sort='5').number
                            p.text استكشاف الفرص الاستثمارية في قطاع المقاولات والاستشارات الهندسية بالأسواق الناشئة دولياً وتسليط الضوء عليها.
                        .goal-item 
                            span(data-sort='6').number
                            p.text إقامة المعارض والندوات للشركات الاستشارية والمقاولات الدولية لجذبها وإثراء الناتج المحلي بمكة المكرمة.

                        .goal-item 
                            span(data-sort='7').number
                            p.text تطوير لجنة هندسية بالغرفة التجارية تضم مختلف فروع الهندسة، المعمارية والمدنية والصناعية والكهربائية.
                        .goal-item 
                            span(data-sort='8').number
                            p.text تحقيق الاكتفاء الغذائي والصناعي عبر تقديم خدمات وسلع ذات جودة عالية لقاصدي بيت الله الحرام من الزوار والمعتمرين والحجاج وبما يؤمن فرص استثمارية ووظيفية مستقرة.
                        .goal-item 
                            span(data-sort='9').number
                            p.text إنشاء لجنة بالغرفة التجارية لفن الرسم والنحت لإثراء الفن والموروث السعودي وتجسيده بشكل أوسع.
                        .goal-item 
                            span(data-sort='10').number
                            p.text دعم وتمكين الأندية المجتمعية في مختلف الأنشطة الرياضية والفنية والاجتماعية بما يساهم في رفع جودة الحياة وإيجاد قنوات تعليم وترفيه وتدريب لفئة الشباب واستثمار طاقاتهم وأوقاتهم بشكل إيجابي.
                        .goal-item 
                            span(data-sort='11').number
                            p.text المساهمة في وضع تخطيط شامل لمباني مكة يحسن من الصورة الجمالية للمخططات الجديدة ويوحد هويتها.
    .side_footer 
        .icon_container 
            .vertical
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
            .horizontal
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                    span  
                        .highligh  .. آفاق متجددة 
                        | لمستقبل واعد
