section.campaignNews#campaignNews
    h2.main_sec_title  
        img(src="./img/button_side.png" alt="")
        span 
            |اخبار الحملة
        img(src="./img/button_side.png" alt="" class="left")
    .container
        .owl-carousel.owl-theme
            .card
                img.card-img-top(src='./img/news1.jpg' alt='news')
                .card-body
                    h5.card-title ‏مستنيراً بخبرة تزيد عن خمسة وعشرين عام يسعى رجل الأعمال ‎#نايف_الزايدي نحو الريادة في تنمية وتنويع القطاعات التجارية والصناعية بما يعزز الناتج المحلي ويحقق الاستدامة الاقتصادية.
                    a.btn.btn-primary(href='naif.html') اقرا المزيد
            .card
                img.card-img-top(src='./img/news2.jpg' alt='news')
                .card-body
                    h5.card-title بشعار "صحة الإنسان وتطوير المكان" يُسخِّر الدكتور ‎#عواض_البشري خبرته الإدارية والاستثمارية بروح المسؤولية نحو مجتمعه لتطوير القطاع الصحي الخاص وتقديم أرقى الخدمات الطبية بمكة المكرمة.
                    a.btn.btn-primary(href='awad-bin-atia.html') اقرا المزيد
            .card
                img.card-img-top(src='./img/news3.jpg' alt='news')
                .card-body
                    h5.card-title بعلم ومعرفة أكاديمية وحكمة مكتسبة من بيت خبرة عريق في الصناعة والتجارة يطمح المهندس ‎#علاء_كعكي إلى الارتقاء بجودة مخرجات المؤسسات الصناعية والهندسية وتحسين المستوى المعيشي بمكة المكرمة.
                    a.btn.btn-primary(href='alaa-bin-adel.html') اقرا المزيد
            .card
                img.card-img-top(src='./img/news4.jpg' alt='news')
                .card-body
                    h5.card-title تحت شعار "مكة ... جودة الحياة" يسعى المهندس ‎#فواز_الشريف لبناء ثقافة العمل المشترك وتحقيق تكامل في الجهود بين القطاعين العام والخاص بما يواكب التطور الكبير المنتظر في ظل نمو القطاعات الاقتصادية المختلفة.
                    a.btn.btn-primary(href='fawaz-bin-eqab.html') اقرا المزيد
        .row
            .col-md-12 
                a(href="more-news.html", target="_blank", rel="noopener noreferrer") 
                    button.more_news
                        span.text 
                            |المزيد من الاخبار
                        span.icon 
                            <i class="fa-solid fa-arrow-left-long"></i>
    img(src="./img/bgex4.png" alt="" class="bg_ex")