section.afaqGroup 
    .container 
        h2.main_sec_title  
            img(src="./img/button_side.png" alt="")
            span 
                |تعرفوا على مجموعة آفاق
            img(src="./img/button_side.png" alt="" class="left")
        .owl-carousel.owl-theme.owlTwo
            .card_container
                .card
                    .card-top
                        a(href="link#")
                            img(src="./img/ksa.png", alt="") 
                            <i class="fa-solid fa-circle-play"></i>
                        .overlay 
                    .card-footer 
                        a(href="" class="view_candidate_info") لماذا نايف الزايدي؟
            .card_container
                .card
                    .card-top
                        a(href="link#")
                            img(src="./img/ksa.png", alt="") 
                            <i class="fa-solid fa-circle-play"></i>
                        .overlay 
                    .card-footer 
                        a(href="" class="view_candidate_info") لماذا عواض البشري؟
            .card_container
                .card
                    .card-top
                        a(href="link#")
                            img(src="./img/ksa.png", alt="") 
                            <i class="fa-solid fa-circle-play"></i>
                        .overlay 
                    .card-footer 
                        a(href="" class="view_candidate_info") لماذا علاء كعكي؟
            .card_container
                .card
                    .card-top
                        a(href="link#")
                            img(src="./img/ksa.png", alt="") 
                            <i class="fa-solid fa-circle-play"></i>
                        .overlay 
                    .card-footer 
                        a(href="" class="view_candidate_info") لماذا فواز الشريف؟