section.brief 
    h2.main_sec_title  
        img(src="./img/button_side.png" alt="")
        span 
            | نبذة تعريفية عــــن الحملة الانتتخابية
        img(src="./img/button_side.png" alt="" class="left")
    .container
        p
            strong  اقتصاد متنوع ومستدام
            br
            | تجمعنا آفاق متجددة برؤية واحدة في مسيرة انطلقت من أهداف واستراتيجيات مدروسة لعمل مشترك تتكامل به الجهود بما يواكب تطلعات المجتمع الاقتصادي حيث تتضاعف مسؤوليتنا تجاه مكة المكرمة في تحقيق تنمية مستدامة وتنوع تجاري وصناعي تنعكس آفاقه على عدة محاور:

    img( class="bg_ex_2" src="./img/bg4.png", alt="")
    img( class="bg_ex_1" src="./img/bg4.png", alt="")