section.campianActivites
    .container
        .row
            .col-md-12
                h2.main_sec_title  
                    img(src="./img/button_side.png" alt="")
                    span 
                        |أبرز أنشطة الحملة
                    img(src="./img/button_side.png" alt="" class="left")
            .col-md-12
                #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride='carousel')
                    .carousel-indicators
                        button.active(type='button' data-bs-target='#carouselExampleFade' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                            |كل الاخبار
                        button(type='button' data-bs-target='#carouselExampleFade' data-bs-slide-to='1' aria-label='Slide 2')
                            |صور عن الحملات
                        button(type='button' data-bs-target='#carouselExampleFade' data-bs-slide-to='2' aria-label='Slide 3')
                            |فيديو المرشحين
                        button(type='button' data-bs-target='#carouselExampleFade' data-bs-slide-to='3' aria-label='Slide 4')
                            |مقالات يومية
                        button(type='button' data-bs-target='#carouselExampleFade' data-bs-slide-to='4' aria-label='Slide 5')
                            |مجريات التصويت
                        button(type='button' data-bs-target='#carouselExampleFade' data-bs-slide-to='5' aria-label='Slide 6')
                            |تقارير اخبارية
                        button(type='button' data-bs-target='#carouselExampleFade' data-bs-slide-to='6' aria-label='Slide 7')
                            |القوانين
                    .carousel-inner
                        .carousel-item.active
                            .container-fluid
                                .row 
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                        .carousel-item
                            .container-fluid
                                .row 
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                        .carousel-item
                            .container-fluid
                                .row 
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                        .carousel-item
                            .container-fluid
                                .row 
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                        .carousel-item
                            .container-fluid
                                .row 
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                        .carousel-item
                            .container-fluid
                                .row 
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                        .carousel-item
                            .container-fluid
                                .row 
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
                                    .col-md-4
                                        .card
                                            img.card-img-top(src='./img/cardImgActivites.png' alt='news')
                                            .card-body
                                                h5.card-title هذا النص هو مثال لنص يمكن يستبدل .في نفس المساحة، لقد تم توليد هذا
                                                p.card-text
                                                | هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن زيادة عدد الحروف التى يولدها التطبيق
                                                a.btn.btn-primary(href='#') اقرا المزيد
            .col-md-12 
                button.more_news
                    span.text 
                        |المزيد من الاخبار
                    span.icon 
                        <i class="fa-solid fa-arrow-left-long"></i>
    img(src="./img/bgex6.png" alt="" class="bg_ex")

