section.candidates#candidates
    .container.text-center 
        h2.main_sec_title  
            img(src="./img/button_side.png" alt="")
            span 
                |المرشحين
            img(src="./img/button_side.png" alt="" class="left")
        .owl-carousel.owl-theme
            .card_container
                .card
                    .front
                        .card-top
                            .card_left
                                h6 رقم المرشح
                            .card_right
                                img(src="./img/card_bg.png" alt="")
                                img.candidate_img(src="./img/person1.png" alt="")
                                .candidate-number   
                                    span 61
                        .card-footer 
                            div( class="view_candidate_info") أ.نايف بن مشعل الزايدي
                                button
                                    <i class="fa-solid fa-arrow-up-long"></i>
                    .back 
                        .content
                            .card-top
                                h2.title أ.نايف بن مشعل الزايدي
                            .card-body 
                                p.desc أحد رجال الأعمال البارزين في منطقة مكة المكرمة في المجال الصناعي والتجاري وبخبرات إدارية تزيد عن ٢٥ عام حيث ترأس  العديد من الإدارات الصناعية والتجارية من ضمنها المدير العام لمجموعة الزايدي...
                            .card-footer
                                a(href="naif.html" class="view_candidate_info") اقرا المزيد
                                    button
                                        <i class="fa-solid fa-arrow-up-long"></i>
            .card_container
                .card
                    .front
                        .card-top
                            .card_left
                                h6 رقم المرشح
                            .card_right
                                img(src="./img/card_bg.png" alt="")
                                img.candidate_img(src="./img/awad.png" alt="" style="width: 70%;bottom: -4%;")
                                .candidate-number   
                                    span 40
                        .card-footer 
                            div( class="view_candidate_info") د.عواض بن عطية الله البشري
                                button
                                    <i class="fa-solid fa-arrow-up-long"></i>
                    .back 
                        .content
                            .card-top
                                h2.title د.عواض بن عطية الله البشري
                            .card-body 
                                p.desc استشاري جراحة الوجه والفكين وممارس طبي وإداري بعدد من المنشآت الطبية في أوروبا والسعودية ممثل للمملكة العربية السعودية في عدد من المؤتمرات وورش العمل العالمية دكتوراه والبورد السويدي..
                            .card-footer
                                a(href="awad-bin-atia.html" class="view_candidate_info") اقرا المزيد
                                    button
                                        <i class="fa-solid fa-arrow-up-long"></i>
            .card_container
                .card
                    .front
                        .card-top
                            .card_left
                                h6 رقم المرشح
                            .card_right
                                img(src="./img/card_bg.png" alt="")
                                img.candidate_img(src="./img/person2.png" alt="")
                                .candidate-number   
                                    span 38
                        .card-footer 
                            div( class="view_candidate_info") م.علاء بن عادل كعكي 
                                button
                                    <i class="fa-solid fa-arrow-up-long"></i>
                    .back 
                        .content
                            .card-top
                                h2.title  م.علاء بن عادل كعكي 
                            .card-body 
                                p.desc مــــــدير تنفيذي بشركــــــــــــة صناعات الكعكي لأصحابها أبناء عبد الله كعكي مدير تنفيذي بمؤسسة عــــــــادل كعكي للمقاولات مـــــدير تنفيـــــــــذي بشركـــــــــــــة محمد عبد الله كعكي وإخوانه

                            .card-footer
                                a(href="alaa-bin-adel.html" class="view_candidate_info") اقرا المزيد
                                    button
                                        <i class="fa-solid fa-arrow-up-long"></i>
            .card_container
                .card
                    .front
                        .card-top
                            .card_left
                                h6 رقم المرشح
                            .card_right
                                img(src="./img/card_bg.png" alt="")
                                img.candidate_img(src="./img/person3.png" alt="")
                                .candidate-number   
                                    span 46
                        .card-footer 
                            div( class="view_candidate_info") م.فواز بن عقــــاب الشريــــف
                                button
                                    <i class="fa-solid fa-arrow-up-long"></i>
                    .back 
                        .content
                            .card-top
                                h2.title م.فواز بن عقــــاب الشريــــف
                            .card-body 
                                p.desc نشأ في عائلــــــــة تعمـــــــــــــل وتهتم بالمجال الاستثمــــــــاري والإنشائي والعقاري، كسب مـــــــــــن خــــــلالها التجربة والاطلاع على عالم التجارة والتعامــــــــلات التجارية، حاصل على البكالوريوس في الهندسة المدنية
                            .card-footer
                                a(href="fawaz-bin-eqab.html" class="view_candidate_info") اقرا المزيد
                                    button
                                        <i class="fa-solid fa-arrow-up-long"></i>
        .about_info 
            table.table
                thead
                    tr
                        th(scope='col').table-title  موعد التصويت
                        th(scope='col').table-title  التصويت يبدا - ينتهي
                        th(scope='col').table-title  الساعة يبدا - ينتهي
                        th(scope='col').table-title  مجموع الساعات
                tbody(style="border-top:none;")
                    tr
                        td.table-title Voting Will START
                        td 2022/03/23 - 2022/03/21
                        td من 9 صباحاً - 9 مساءً
                        td  60 ساعة
        button.vote_now 
            span.text 
                |قم بالتصويت الأن للمرشح
            span.icon 
                <i class="fa-solid fa-arrow-left-long"></i>