section.electoral_program
    h2.main_sec_title  
        img(src="./img/button_side.png" alt="")
        span 
            |أبرز محاور للبرنامج الانتخابي المشترك
        img(src="./img/button_side.png" alt="" class="left")
    img(src="./img/bg5.png" alt="" class="bg_ex")
    .container 
        .owl-carousel.owl-theme
            .card 
                .icon
                    img(src="./img/icon6.png" alt="")
                .info
                    |تنوع استثماري
            .card 
                .icon
                    img(src="./img/icon5.png" alt="")
                .info
                    |صحة متكاملة
            .card 
                .icon
                    img(src="./img/icon8.png" alt="")
                .info
                    |تعليم مخصص
            .card 
                .icon
                    img(src="./img/icon2.png" alt="")
                .info
                    |بنية تحتية فورية
            .card 
                .icon
                    img(src="./img/icon7.png" alt="")
                .info
                    |تحول رقمي
            .card 
                .icon
                    img(src="./img/icon1.png" alt="")
                .info
                    |استدامة مالية
            .card 
                .icon
                    img(src="./img/icon4.png" alt="")
                .info
                    |صناعة واعدة
            .card 
                .icon
                    img(src="./img/icon3.png" alt="")
                .info
                    |تضامن إجتماعي
            
