section.electoral_target
    h2.main_sec_title  
        img(src="./img/button_side.png" alt="")
        span 
            |أبرز أهداف البرنامج الانتخابي المشترك
        img(src="./img/button_side.png" alt="" class="left")
    .container 
        .owl-carousel.owl-theme
            //- .card 
            //-     .head 
            //-         .icon
            //-             img(src="./img/icon9.png" alt="")
            //-         .info
            //-             |أبرز أهداف البرنامج الانتخابي المشترك
            .card.bg 
                .head 
                    .icon
                        img(src="./img/icon10.png" alt="")
                    .info
                        |وطن طموح
                p.info هذا النص هو مثال لنص يمكن أن يستبدل المساحة، لقد تم توليد هذا النص من
            .card.bg 
                .head 
                    .icon
                        img(src="./img/icon11.png" alt="")
                    .info
                        |اقتصاد مزدهر
                p.info هذا النص هو مثال لنص يمكن أن يستبدل المساحة، لقد تم توليد هذا النص من
            .card.bg 
                .head 
                    .icon
                        img(src="./img/icon12.png" alt="")
                    .info
                        |تنمية المكان
                p.info هذا النص هو مثال لنص يمكن أن يستبدل المساحة، لقد تم توليد هذا النص من
            .card.bg 
                .head 
                    .icon
                        img(src="./img/icon14.png" alt="")
                    .info
                        |خدمات مجودة
                p.info هذا النص هو مثال لنص يمكن أن يستبدل المساحة، لقد تم توليد هذا النص من
            .card.bg 
                .head 
                    .icon
                        img(src="./img/icon13.png" alt="")
                    .info
                        |بناء الانسان
                p.info هذا النص هو مثال لنص يمكن أن يستبدل المساحة، لقد تم توليد هذا النص من
        //- .col-md-6
        //-     .card 
        //-         .head
        //-             .info(style="margin-bottom:1rem;") 
        //-                 strong آفاق متجددة .. لمستقبل واعد
        //-         .icon
        //-             img(src="./img/icon15.png" alt="" style="width:100%")