header.mainHeader 
    .container 
        .row 
            .col-md-6
                h2.title
                    span 
                        | مجموع أفاق 
                    | انتخابات مجلس إدارة الغرفـــة التجــــارية بمـــــكة المكــــــــــــــــــــــــــرمة تـــــــــــــــــــــــــــــــاريخ 1443 - 1447 هجري
                h4.subtitle
                    span 
                        |صوت وانتخب 
                    |هذه نص يمكن ان يستبدل بالنص المناسب للحاجة ويمكن اضافته من لوحة التحكم
                .btn_container 
                    h5.btn_title 
                        |حمل التطبيق الأن
                    .download_app 
                        button
                            span.text 
                                | google play
                            span.icon 
                                <i class="fa-brands fa-google-play"></i>
                        button
                            span.text 
                                | apple store 
                            span.icon 
                                <i class="fa-brands fa-apple"></i>
                        button
                            span.text 
                                | app gallery 
                            span.icon 
                                <i class="fa-brands fa-apple"></i>
            .col-md-6
                .img_container
                    img(src="./img/header_bg_2.png", alt="header" class="img_bg")
                    img(src="./img/header_bg_content.png", alt="header_content")

