header.mainHeader 
    //- .container-fluid 
    //-     .row 
    //-         .col-lg-6.col-md-12.text_container
    //-             h2.title
    //-                 span 
    //-                     | مجموع أفاق 
    //-                 | انتخابات مجلس إدارة الغرفـــة التجــــارية بمـــــكة المكــــــــــــــــــــــــــرمة تـــــــــــــــــــــــــــــــاريخ 1443 - 1447 هجري
    //-             .btn_container 
    //-                 h5.btn_title 
    //-                     |حمل التطبيق الأن
    //-                 .download_app 
    //-                     button
    //-                         span.text 
    //-                             | google play
    //-                         span.icon 
    //-                             <i class="fa-brands fa-google-play"></i>
    //-                     button
    //-                         span.text 
    //-                             | apple store 
    //-                         span.icon 
    //-                             <i class="fa-brands fa-apple"></i>
    //-                     button
    //-                         span.text 
    //-                             | app gallery 
    //-                         span.icon 
    //-                             <i class="fa-brands fa-apple"></i>
    //-         .col-lg-6.col-md-12
    //-             .img_container
    //-                 img(src="./img/header_bg_2.png", alt="header" class="img_bg")
    //-                 img(class="bouncingAnimation" src="./img/header_bg_content.png", alt="header_content")
    #carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
        .carousel-inner
            .carousel-item.active
                .container-fluid 
                    .row 
                        .col-lg-6.col-md-12.text_container
                            h2.title
                                span 
                                    | مجموع أفاق 
                                | انتخابات مجلس إدارة الغرفـــة التجــــارية بمـــــكة المكــــــــــــــــــــــــــرمة تـــــــــــــــــــــــــــــــاريخ 1443 - 1447 هجري
                            .btn_container 
                                h5.btn_title 
                                    |حمل التطبيق الأن
                                .download_app 
                                    button
                                        span.text 
                                            | google play
                                        span.icon 
                                            <i class="fa-brands fa-google-play"></i>
                                    button
                                        span.text 
                                            | apple store 
                                        span.icon 
                                            <i class="fa-brands fa-apple"></i>
                                    button
                                        span.text 
                                            | app gallery 
                                        span.icon 
                                            <i class="fa-brands fa-apple"></i>
                        .col-lg-6.col-md-12
                            .img_container
                                img(class="bouncingAnimation" src="./img/header_bg_content.png", alt="header_content")
            .carousel-item.active
                .container-fluid 
                    .row 
                        .col-lg-6.col-md-12.text_container
                            h2.title
                                span 
                                    | مجموع أفاق 
                                | انتخابات مجلس إدارة الغرفـــة التجــــارية بمـــــكة المكــــــــــــــــــــــــــرمة تـــــــــــــــــــــــــــــــاريخ 1443 - 1447 هجري
                            .btn_container 
                                h5.btn_title 
                                    |حمل التطبيق الأن
                                .download_app 
                                    button
                                        span.text 
                                            | google play
                                        span.icon 
                                            <i class="fa-brands fa-google-play"></i>
                                    button
                                        span.text 
                                            | apple store 
                                        span.icon 
                                            <i class="fa-brands fa-apple"></i>
                                    button
                                        span.text 
                                            | app gallery 
                                        span.icon 
                                            <i class="fa-brands fa-apple"></i>
                        .col-lg-6.col-md-12
                            .img_container
                                img(class="bouncingAnimation" src="./img/header_bg_content.png", alt="header_content")