header.mainHeader
    .container-fluid
        #carouselExampleInterval.carousel.slide(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active(data-bs-interval="3000")
                    .container-fluid 
                        .row 
                            .col-lg-6.col-md-12.text_container
                                h2.title
                                    span 
                                        | مجموع أفاق 
                                    | انتخابات مجلس إدارة الغرفـــة التجارية بمكة المكرمة تاريخ 1443 - 1447 هجري
                                .btn_container 
                                    h5.btn_title 
                                        |حمل التطبيق الأن
                                    .download_app 
                                        button
                                            span.text 
                                                | google play
                                            span.icon 
                                                <i class="fa-brands fa-google-play"></i>
                                        button
                                            span.text 
                                                | apple store 
                                            span.icon 
                                                <i class="fa-brands fa-apple"></i>
                            .col-lg-6.col-md-12
                                .img_container
                                    img(class="bouncingAnimation" src="./img/IMG-20220308-WA0143.jpg", alt="header_content")
                .carousel-item(data-bs-interval='3000')
                    .container-fluid 
                        .row 
                            .col-lg-6.col-md-12.text_container
                                h2.title
                                    span 
                                        | مجموع أفاق 
                                    | انتخابات مجلس إدارة الغرفـــة التجارية بمكة المكرمة تاريخ 1443 - 1447 هجري
                                .btn_container 
                                    h5.btn_title 
                                        |حمل التطبيق الأن
                                    .download_app 
                                        button
                                            span.text 
                                                | google play
                                            span.icon 
                                                <i class="fa-brands fa-google-play"></i>
                                        button
                                            span.text 
                                                | apple store 
                                            span.icon 
                                                <i class="fa-brands fa-apple"></i>
                            .col-lg-6.col-md-12
                                .img_container
                                    img(class="bouncingAnimation" src="./img/IMG-20220308-WA0143.jpg", alt="header_content")
                .carousel-item(data-bs-interval='3000')
                    .container-fluid 
                        .row 
                            .col-lg-6.col-md-12.text_container
                                h2.title
                                    span 
                                        | مجموع أفاق 
                                    | انتخابات مجلس إدارة الغرفـــة التجارية بمكة المكرمة تاريخ 1443 - 1447 هجري
                                .btn_container 
                                    h5.btn_title 
                                        |حمل التطبيق الأن
                                    .download_app 
                                        button
                                            span.text 
                                                | google play
                                            span.icon 
                                                <i class="fa-brands fa-google-play"></i>
                                        button
                                            span.text 
                                                | apple store 
                                            span.icon 
                                                <i class="fa-brands fa-apple"></i>
                            .col-lg-6.col-md-12
                                .img_container
                                    img(class="bouncingAnimation" src="./img/IMG-20220308-WA0143.jpg", alt="header_content")