section.afaqTweet 
    .container
        h2 التغريدات بواسطة 
            a(href="https://twitter.com/Afaq2022Gp" target="_blank") @Afaq2022Gp
        .row 
            .col-md-12
                .qouat_container
                    <blockquote class="twitter-tweet"><p lang="ar" dir="rtl">في هذه الأيام مناسبات عظيمة وجميلة<br><br>- تأسس أعظم وأجمل بلد <a href="https://twitter.com/hashtag/%D8%A7%D9%84%D8%B3%D8%B9%D9%88%D8%AF%D9%8A%D8%A9?src=hash&amp;ref_src=twsrc%5Etfw">#السعودية</a><br>- و العيد الوطني في <a href="https://twitter.com/hashtag/%D8%A7%D9%84%D9%83%D9%88%D9%8A%D8%AA?src=hash&amp;ref_src=twsrc%5Etfw">#الكويت</a><br><br>أدعو الله أن يحفظ السعودية العظيمة ويديم الامن والأزدهار والتقدم وكذلك للكويت الحبيبة وسائر الخليج<a href="https://twitter.com/hashtag/%D9%8A%D9%88%D9%85_%D8%A8%D8%AF%D9%8A%D9%86%D8%A7?src=hash&amp;ref_src=twsrc%5Etfw">#يوم_بدينا</a> <a href="https://twitter.com/hashtag/%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D8%AA%D8%A7%D8%B3%D9%8A%D8%B3?src=hash&amp;ref_src=twsrc%5Etfw">#يوم_التاسيس</a> <a href="https://twitter.com/hashtag/%D8%AB%D9%84%D8%A7%D8%AB%D8%A9_%D9%82%D8%B1%D9%88%D9%86?src=hash&amp;ref_src=twsrc%5Etfw">#ثلاثة_قرون</a> <a href="https://twitter.com/hashtag/SaudiFoundingDay?src=hash&amp;ref_src=twsrc%5Etfw">#SaudiFoundingDay</a> <a href="https://twitter.com/hashtag/%D8%A7%D9%84%D9%8A%D9%88%D9%85_%D8%A7%D9%84%D9%88%D8%B7%D9%86%D9%8A_%D8%A7%D9%84%D9%83%D9%88%D9%8A%D8%AA%D9%8A?src=hash&amp;ref_src=twsrc%5Etfw">#اليوم_الوطني_الكويتي</a> <a href="https://t.co/qYB881aKSR">pic.twitter.com/qYB881aKSR</a></p>&mdash; تركي (@Turkibinhmood) <a href="https://twitter.com/Turkibinhmood/status/1496194395053375495?ref_src=twsrc%5Etfw">February 22, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            .col-md-12 
                hr