section.afaqTweet
    .container-fluid
        h2
            | التغريدات بواسطة 
            a(href='https://twitter.com/Afaq2022Gp' target='_blank') @Afaq2022Gp
        .row
            .col-md-12
                .qouat_container
                    blockquote.twitter-tweet
                        a.twitter-timeline(href='https://twitter.com/Afaq2022Gp?ref_src=twsrc%5Etfw') Tweets by Afaq2022Gp
                        script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
                    script(async='' src='https://platform.twitter.com/widgets.js' charset='utf-8')
        hr
