footer 
    img(src="./img/bgex8.png", alt="" class="bg_ex")
    .container
        .row 
            ul.col-lg-4.col-md-12 
                li.logo_content
                    img(src="./img/LOGO-DARK.svg" alt="logo")
                li.social_links
                    .icon
                        a(href="") 
                            i.fa-brands.fa-whatsapp
                    .icon
                        a(href="") 
                            i.fa-brands.fa-twitter
                    .icon
                        a(href="") 
                            i.fa-brands.fa-telegram
                    .icon
                        a(href="") 
                            i.fa-brands.fa-facebook-f
            .col-lg-8.col-md-12
                .container-fluid 
                    .row 
                        ul.col-lg-12
                            li.title 
                                h4 مجموعة آفاق
                            li.item 
                                a(href="##") انتخابات مجلس إدارة الغرفة التجارية بمكة المكرمة 1447-1443 هـ
            .col-md-12(style="border-bottom: 2px solid #ae8b50;margin-top:0.4rem;")
                p
                    |  الحقوق محفوظة لمجموعة آفاق @ 2022
            .col-md-12(style="margin-top:0.4rem;")
                p
                    |  تصميم وبرمجة : تطبيقكم @ 2022

