footer 
    img(src="./img/bgex8.png", alt="" class="bg_ex")
    .container
        .row 
            ul.col-lg-4.col-md-12 
                li.logo_content
                    img(src="./img/LOGO-DARK.svg" alt="logo")
                li.social_links
                    .icon
                        a(href="") 
                            i.fa-brands.fa-whatsapp
                    .icon
                        a(href="") 
                            i.fa-brands.fa-twitter
                    .icon
                        a(href="") 
                            i.fa-brands.fa-telegram
                    .icon
                        a(href="") 
                            i.fa-brands.fa-facebook-f
            .col-lg-8.col-md-12
                .container-fluid 
                    .row 
                        ul.col-lg-4
                            li.title 
                                h4 مجموعة آفاق
                            li.item 
                                a(href="##") عن افاق 
                        ul.col-lg-4
                            li.title 
                                h4 السياسات
                            li.item 
                                a(href="##") سياسات الخصوصية
                            li.item 
                                a(href="##") شروط الإستخدام
                        ul.col-lg-4
                            li.title 
                                h4 المساعدة
                            li.item 
                                a(href="##") الأسئلة الشائعة
                            li.item 
                                a(href="##") تواصل معنا
            .col-md-12(style="border-top: 2px solid #ae8b50;margin-top:0.4rem;")
                .row(style="margin-top:1.4rem;")
                    .col-lg-6.text-center
                        p
                            |  الحقوق محفوظة لمجموعة آفاق @ 2022
                    .col-lg-6.text-center
                        p
                            |  تصميم وبرمجة : تطبيقكم @ 2022

