meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description", content="مبادرة آفاق 2020. ومن بين الإنجازات الرئيسية للمبادرة، التي انتهت في عام 2022، ما يلي: زيادة الاستثمارات، وتعزيز أطر السياسات والأطر القانونية، ,والتي الهدف منها تطوير القطاع الصحي بمكة المكرمة لأحدث ما توصل إليه العلم والتقنية وإنشاء منشآت طبية تعليمية لتدريب وتأهيل كوادر طبية وطنية لتقديم أرقي الخدمات لضيوف الرحمن وسكان مكة المكرمة و توطــــين صناعة المنتجات الاتسهلاكية في القطاع الطبي  و جذب رؤوس الأموال والصناديق الاستثمارية لإنشاء وتطوير المستشفيات ومعاهد التخصصات الطبية")
meta(name="keywords" content=' مبادرة , افاق , 2022 , مبادرة 2022 , تكنولوجيا , تطوير , استثمارات , التخصصات الطبية , رؤوس الاموال , مكة المكرمة ')
meta(name='author' content="مبادرة افاق")
link(rel="icon" href="./img/favicon.png")

title #{PageTitle}