-var PageTitle = "آفاق | علاء بن عادل كعكي"
doctype html
html(lang="ar")
    head
        //- styles
        include layout/meta.pug
        include layout/styles.pug
    body 
        //- loading animation
        include ./components/loading-animation/_loading_animation.pug
        //- header
        include ./components/alaa/_header.pug
        //- skill review 
        include ./components/alaa/_skill_review.pug
        //-scripts
        include layout/scripts