-var PageTitle = "آفاق | عواض بن عطية"
doctype html
html(lang="en")
    head
        //- styles
        include layout/meta.pug
        include layout/styles.pug
    body 
        //- header
        include ./components/awad/_header.pug
        //- skill review 
        include ./components/awad/_skill_review.pug
        //-scripts
        include layout/scripts