-var PageTitle = "آفاق | فواز بن عقــــاب الشريــــف"
doctype html
html(lang="en")
    head
        //- styles
        include layout/meta.pug
        include layout/styles.pug
    body 
        //- loading animation
        include ./components/loading-animation/_loading_animation.pug
        //- header
        include ./components/fawaz/_header.pug
        //- skill review 
        include ./components/fawaz/_skill_review.pug
        //-scripts
        include layout/scripts