header.secHeader 
    .container 
        .row
            .col-lg-4.col-md-12.pic-container
                .logo 
                    img(src="./img/LOGO-DARK.svg" alt="افاق التعريفي")
                .candidates_card 
                    .card-body
                        .userpic 
                            img(class="awad" src="./img/awad.png" alt="")
            .col-lg-8.col-md-12
                .about 
                    h2.title مجموعة آفاق 
                    p.desc انتخابات مجلس إدارة الغرفة التجارية بمكة المكرمة 1443 - 1447 هـ
                .candidates_info
                    .name 
                        span  الدكتور / عواض بن عطية الله البشري
                        span.vote_number 40
                p.more_person_info
                    |الدكتور عواض بن عطية الله البشري الحربي حاصل على الدكتوراه والبورد السويدي في جراحة الوجه والفكين من جامعة مالمو بالسويد (Malmö universitet). وقد بدأ العمل بالقطاع الخاص من حوالي 15 سنة بإنشاء شركة طبية تعنى بامتلاك وتشغيل المنشآت الصحية المختلفة، لتصبح شركة رائدة في المنطقة الغربية بتطبيق معايير الجودة العالمية في التشغيل الطبي للمنشآت الطبية (المستشفيات والمجمعات)؛ حيث تأتي الشركة نتاج خبرات واسعة وإسهامات بارزة للدكتور عواض في المجال الطبي والتعليمي، وتمتلك الشركة عدد من المجمعات الطبية في منطقة مكة المكرمة والمدينة المنورة، والتي تعتبر من أرقى المجمعات الطبية المجهزة بأحدث التقنيات وأفضل الأجهزة، وتضم عدد من الاستشاريين في التخصصات المختلفة، كما تتطلع الشركة لإطلاق (مستشفى الدكتور عواض البشري) والذي يعد الأول من نوعه في مكة المكرمة، ويشتمل على تخصصات طبية دقيقة ونادرة في القطاع الخاص كقسطرة القلب والشرايين، ووحدة جراحة الوجه والفكين، هذا بالإضافة إلى وحدة مناظير الجهاز الهضمي، ومركز العيون، والعديد من الوحدات الأخرى المميزة، مما يجعل منها أكبر تجمع للاستشاريين السعوديين، ولتكون أنموذجاً لجودة الخدمات الطبية والصحية بالقطاع الخاص في أطهر بقاع الأرض.
                .skill_list 
                    .skill_container
                        span.icon 
                            img(src="./img/calender.svg", alt="")
                        span.text
                            .text-title 
                                | الميلاد 
                            .desc 
                                | الميلاد 1970م
                    .skill_container
                        span.icon 
                            img(src="./img/lang.svg", alt="")
                        span.text
                            .text-title 
                                | اللغات
                            .desc 
                                | اللغة العربية -
                                br
                                | الإنجليزية - السويدية
                    .skill_container
                        span.icon 
                            img(src="./img/book.svg", alt="")
                        span.text
                            .text-title 
                                a(href="##") 
                                    | الملف الشخصي 
                            .desc 
                                | لدكتور عواض بن عطية الله
