section.skill_review
    .container 
        .row 
            .col-md-12
                .membership 
                    h2.main-title
                        .text العضويات :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-4
                                .item(data-sort='01')
                                    .text رئيــــــس اللجنة الصحية والدوائية .بغرفة مكة المكرمة
                            .col-md-4
                                .item(data-sort='02')
                                    .text المدير التنفيذي العام بشركة البشري للخدمات الطبية.
                            .col-md-4
                                .item(data-sort='03')
                                    .text رئيس مجلس إدارة مستشفى الدكتور عواض البشري.
                            .col-md-4
                                .item(data-sort='04')
                                    .text عضـــو الهـــيئــــة السعوديــــة للتخصصات الصحـــية.
                            .col-md-4
                                .item(data-sort='05')
                                    .text رئيس مجلس إدارة جمعية كهاتين لرعاية الأيتام بمكة وجدة والطائف.
                            .col-md-4
                                .item(data-sort='06')
                                    .text ممثل للملكة العربية السعودية في عدد من المؤتمرات وورش العمل العالمية.
            .col-md-12    
                .vision 
                    h2.main-title
                        .text الرؤوية :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-12
                                .item.desc
                                    .text تنمية الانسان وتطوير المكان والعمل على أن تكون قبلة المسلمين مكة المكرمة الرائدة في تقديم خدمات طبية ذات جودة عالية ومتميزة في مختلف مجالات الطب والتعليم الطبي والبحث الأكاديمي
            .col-md-12    
                .msg 
                    h2.main-title
                        .text الرسالة :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-12
                                .item.desc
                                    .text تطوير القطاع الصحي بمكة المكرمة لأحدث ما توصل إليه العلم والتقنية وإنشاء منشآت طبية تعليمية لتدريب وتأهيل كوادر طبية وطنية لتقديم أرقي الخدمات لضيوف الرحمن وسكان مكة المكرمة.
            .col-md-12
                .goals
                    h2.title أهداف البرنامج الانتخابي
                    .goal-list 
                        .goal-item 
                            span(data-sort='1').number
                            p.text العمل على جذب رؤوس الأموال والصناديق الاستثمارية لتطوير القطاع الصحي الخاص.


                        .goal-item 
                            span(data-sort='2').number
                            p.text العمل على تحقيق التكامل في تقديم الخدمات العلاجية بين القطاعات المختلفة لضمان رفع الجودة وتحقيق رؤية القيادة الرشيدة واستمراريه العمل.



                        .goal-item 
                            span(data-sort='3').number
                            p.text تمثيل القطاع الصحي الخاص والعمل على تسهيل العقبات التي تواجهه، وتقديم الاقتراحات والحلول.

                        .goal-item 
                            span(data-sort='4').number
                            p.text تحقيق التميز والتطور للقطاع الصحي وجذب السياحة العلاجية.

                        .goal-item 
                            span(data-sort='5').number
                            p.text توطــــين صـــــــــــناعــــــــة المنتـــــجات الاستهــــــــــلاكيــــة فـــــــي القــــــطاع الطبــــــــــــي
                        .goal-item 
                            span(data-sort='6').number
                            p.text العمل على توطين صناعة المنتجات الاستهلاكية في القطاع الصحي.
                        .goal-item 
                            span(data-sort='7').number
                            p.text دعم رواد الأعمال في إنشاء مشاريع تقديم الخدمات اللوجستية وتوريد المعدات والأدوات الطبية
    .side_footer 
        .icon_container 
            .vertical
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
            .horizontal
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                    span  
                        .highligh  .. آفاق متجددة 
                        | لمستقبل واعد
