header.secHeader 
    .container 
        .row
            .col-lg-4.col-md-12.pic-container
                .logo 
                    img(src="./img/LOGO-DARK.svg" alt="افاق التعريفي")
                .candidates_card 
                    .card-body
                        .userpic 
                            img(src="./img/fawaz.png" alt="")
            .col-lg-8.col-md-12
                .about 
                    h2.title مجموعة آفاق 
                    p.desc انتخابات مجلس إدارة الغرفة التجارية بمكة المكرمة 1443 - 1447 هـ
                .candidates_info
                    .name 
                        span السيد / فواز بن عقــــاب الشريــــف
                        span.vote_number 46
                p.more_person_info
                    |نشأ المهندس فواز الشريف في عائلة تعمل وتهتم بالمجال الاستثماري والإنشائي والعقاري، كسب من خلالها التجربة والاطلاع على عالم التجارة والتعاملات التجارية، حاصل على البكالوريوس في الهندسة المدنية، عضو الهيئة السعودية للمهندسين (مهندس مستشار)، بخبرة امتدت لأكثر من عشرين عام في أعمال المراقبة والتشغيل والتحكم، تنقل فيها بين الأنشطة المختلفة، متوجاً كل تلك الخبرات بتأسيس شركة سفر للمقاولات إحدى أكبر الشركات في هذا المجال بمكة المكرمة، وذلك بإدارة المشاريع المتكاملة؛ وإدارة برامج التوطين؛ وإدارة فريق العمل بالمشاريع الإنشائية والاستثمارية؛ ونقل الصناعة العالمية إلى المحلية بشركة سفر، والتي استطاع من خلالها التوسع في الأنشطة ليكون رئيس وعضو مجلس إدارة لعدد من الشركات والعلامات التجارية المتخصصة لأنشطة استثمارية وعقارية مهمة، منها الخدمات، والإعلام، والتشييد، وخدمات المعتمرين، حيث دفعته كل هذه النجاحات بالترشح لمجلس إدارة الغرفة التجارية مع نخبة من رجال الأعمال للعمل على تنمية واستقرار القطاعات التجارية والصناعية والعقارية والاستثمارية بمكة المكرمة.


                .skill_list 
                    .skill_container
                        span.icon 
                            img(src="./img/calender.svg", alt="")
                        span.text
                            .text-title 
                                | الميلاد 
                            .desc 
                                | الميلاد 1974م
                    .skill_container
                        span.icon 
                            img(src="./img/lang.svg", alt="")
                        span.text
                            .text-title 
                                | اللغات
                            .desc 
                                | اللغة العربية -
                                br
                                | الإنجليزية - الإسبانية
                    .skill_container
                        span.icon 
                            img(src="./img/book.svg", alt="")
                        span.text
                            .text-title 
                                a(href="##") 
                                    | الملف الشخصي 
                            .desc 
                                |  للسيد فواز بن عقــــاب الشريــــف
