section.skill_review
    .container 
        .row 
            .col-md-12
                .membership 
                    h2.main-title
                        .text الخبرات العملية :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-4
                                .item(data-sort='01')
                                    .text رئيس مجلس إدارة شركة سفر لتجارة والمقاولات
                            .col-md-4
                                .item(data-sort='02')
                                    .text مدير عام مكتب توافيق الحجاز للاستشارات الهندسية
                            .col-md-4
                                .item(data-sort='03')
                                    .text عضو الجمعية السعودية للجودة بمنطقة مكة المكرمة
                            .col-md-4
                                .item(data-sort='04')
                                    .text عضو لجنة المقاولين بالغرفة التجارية لمكة
                            .col-md-4
                                .item(data-sort='05')
                                    .text عضو الهيئة السعودية للمهندسين
                            .col-md-4
                                .item(data-sort='06')
                                    .text مهندس أول بنية تحتية، شركة وورلي، جدة
            .col-md-12    
                .vision 
                    h2.main-title
                        .text الرؤوية :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-12
                                .item.desc
                                    .text  خدمات متكاملة, لنمو متواصل وتطور مستمر، وبناء مستقبل واعد
            .col-md-12    
                .msg 
                    h2.main-title
                        .text الرسالة :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-12
                                .item.desc
                                    .text تحقيق تكامل في جهود الإدارة والتشغيل بين القطاع العام والخاص ليواكب التطور الكبير والقفزة النوعية المنتظرة في ظل رؤية المملكة 2030 وتحقيق نمو للقطاعات الاقتصادية المختلفة بمكة المكرمة
            .col-md-12
                .goals
                    h2.title أهداف البرنامج الانتخابي
                    .goal-list 
                        .goal-item 
                            span(data-sort='1').number
                            p.text دعم واستقطاب شركات التمويل والصناديق الاستثمارية لرفع اقتصاد مكة المكرمة.


                        .goal-item 
                            span(data-sort='2').number
                            p.text دعم إنشاء منظومة إلكترونية لإدارة المعدات والمركبات الثقيلة بما يساهم في سرعة إنجاز المشاريع والمساهمة في حالات الطوارئ. 



                        .goal-item 
                            span(data-sort='3').number
                            p.text العمل مع الجهات المختصة لوضع حلول للمشاكل والعقبات التي تحد من نمو شركات المقاولات.

                        .goal-item 
                            span(data-sort='4').number
                            p.text بناء ثقافة العمل المشترك والتعاون المؤسساتي بين الشركات لتحقيق أقصى استفادة من الموارد والمعدات في قطاع المقاولات.
                        .goal-item 
                            span(data-sort='5').number
                            p.text التعاون مع الهيئة الملكية بمكة المكرمة للعمل على تهيئة الشوارع لتلائم حركة المشاة والأشخاص ذوي الإعاقة والدراجات الهوائية، ورفع جودة الحياة.
                        .goal-item 
                            span(data-sort='6').number
                            p.text إتاحة الفرصة للمواهب الشبابية بالمشاركة في تجميل وتنسيق المناظر الطبيعية والهندسية الجمالية.
                        .goal-item 
                            span(data-sort='7').number
                            p.text إيجاد منظومة عمل تدعم أسلوب العمل الحر للمواطنين في المهن بقطاع المقاولات.
                        .goal-item 
                            span(data-sort='8').number
                            p.text دعم رواد الأعمال في إنشاء منصات إلكترونية ومشاريع خدمات لوجستية تسهل من عمل شركات المقاولات الكبرى. 
    .side_footer 
        .icon_container 
            .vertical
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
            .horizontal
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                    span  
                        .highligh  .. آفاق متجددة 
                        | لمستقبل واعد
