header.secHeader 
    .container-fluid 
        .row
            .col-lg-4.col-md-12.pic-container
                .logo 
                    img(src="./img/LOGO-DARK.svg" alt="افاق التعريفي")
                .candidates_card 
                    .card-body
                        .userpic 
                            img(class="naifPic" src="./img/person1.png" alt="")
            .col-lg-8.col-md-12
                .about 
                    h2.title مجموعة آفاق 
                    p.desc انتخابات مجلس إدارة الغرفة التجارية بمكة المكرمة 1443 - 1447 هـ
                .candidates_info
                    .name 
                        span السيد / نايف بن مشعل الزايدي
                        span.vote_number 61
                p.more_person_info
                    |أحد رجال الأعمال البارزين في منطقة مكة المكرمة في المجال الصناعي والتجاري وبخبرات إدارية تزيد عن ٢٥ عام حيث ترأس  العديد من الإدارات الصناعية والتجارية من ضمنها المدير العام لمجموعة الزايدي
                .skill_list 
                    .skill_container
                        span.icon 
                            img(src="./img/calender.svg", alt="")
                        span.text
                            .text-title 
                                | الميلاد 
                            .desc 
                                | الميلاد 1971م
                    .skill_container
                        span.icon 
                            img(src="./img/lang.svg", alt="")
                        span.text
                            .text-title 
                                | اللغات
                            .desc 
                                | اللغة العربية - الإنجليزية - الإسبانية
                    .skill_container
                        span.icon 
                            img(src="./img/book.svg", alt="")
                        span.text
                            .text-title 
                                a(href="##") 
                                    | الملف الشخصي 
                            .desc 
                                | للسيد نايف بن مشعل الزايدي
