section.skill_review
    .container 
        .row 
            .col-md-12
                .membership 
                    h2.main-title
                        .text الخبرات العملية :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-4
                                .item(data-sort='01')
                                    .text نائب رئيس الغرفة التجارية بمكة الدورة 20
                            .col-md-4
                                .item(data-sort='02')
                                    .text مدير عام مصنع الزايدي للخرسانة الجاهزة
                            .col-md-4
                                .item(data-sort='03')
                                    .text نائب رئيس مجلس إدارة نادي مكة لذوي الإعاقة
                            .col-md-4
                                .item(data-sort='04')
                                    .text مدير عام مجموعة الزايدي للاستثمار والتنمية
                            .col-md-4
                                .item(data-sort='05')
                                    .text نائب رئيس فريق أراضي المدن الصناعية في اللجنة الوطنية الصناعية باتحاد الغرف
                            .col-md-4
                                .item(data-sort='06')
                                    .text أمين عام نادي الوحدة السعودي (سابقاً).
                            .col-md-4
                                .item(data-sort='07')
                                    .text رئيس اللجنة الصناعية بغرفة مكة وعضو تنفيذي باللجنة الوطنية الصناعية باتحاد الغرف السعودي
            .col-md-12
                .membership
                    h2.main-title
                        .text  أبرز الإنجازات :
                    .container-fluid.skill-review-items
                        .row
                            .col-md-12
                                .item(data-sort='01')
                                    .text تطوير آلية توزيع أراضي المدن الصناعية على المصانع الوطنية بمكة المكرمة.


                            .col-md-12
                                .item(data-sort='02')
                                    .text دعم ملف إنشاء مدينة صناعية جديدة وتخصيص أرض بمساحة 45 مليون متر مربع جنوب مكة المكرمة.


                            .col-md-12
                                .item(data-sort='03')
                                    .text
                                        | معالجة أوضاع المصانع العشوائية غير المرخصة بإشراف الجهات الأمنية بأمارة منطقة مكة المكرمة.


                            .col-md-12
                                .item(data-sort='04')
                                    .text حصر مرئيات القطاع الخاص حول جدولة وتخفيض وإلغاء المخالفات والغرامات خلال جائحة كورونا.

            .col-md-12    
                .vision 
                    h2.main-title
                        .text الرؤية :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-12
                                .item.desc
                                    .text الريادة في تنمية وتنويع القطاعات التجارية والصناعية والخدمات بمكة المكرمة وتحقيق الاستدامة المجتمعية والاقتصادية
            .col-md-12    
                .msg 
                    h2.main-title
                        .text الرسالة :
                    .container-fluid.skill-review-items 
                        .row 
                            .col-md-12
                                .item.desc
                                    .text خدمات إدارية متميزة وشراكات فاعلة بين القطاع العام والخاص لجذب الاستثمارات الصناعية وتنويع القطاعات التجارية بما يخلق سوق واعد لنمو وتوسع المشاريع الريادية وزيادة الفرص الوظيفية والناتج المحلي بمكة المكرمة.
            .col-md-12
                .goals
                    h2.title أهداف البرنامج الانتخابي
                    .goal-list 
                        .goal-item 
                            span(data-sort='1').number
                            p.text تكوين لجنة مختصة باستشارات خطوط الإنتاج للمنشآت الصناعية

                        .goal-item 
                            span(data-sort='2').number
                            p.text إنشاء مركز استشارات بغرفة مكة لتسهيل تواصل المستثمرين بالشركات الموثوقة لتوريد معدات خطوط الإنتاج


                        .goal-item 
                            span(data-sort='3').number
                            p.text استقطاب استثمارات دولية في القطاع الصناعي بمكة
                        .goal-item 
                            span(data-sort='4').number
                            p.text دعم تصدير المنتجات الوطنية للأسواق الناشئة بوسط وشرق آسيا ودول أفريقيا
                        .goal-item 
                            span(data-sort='5').number
                            p.text تعزيز فرص المنافسة والتسويق لمنتجات المصانع محلياً ودولياً
                        .goal-item 
                            span(data-sort='6').number
                            p.text عقد شراكات مع المنشآت المالية لوضع برامج تمويل ميسر للقطاع الصناعي
                        .goal-item 
                            span(data-sort='7').number
                            p.text توجيه المستثمرين ورواد الأعمال للاستفادة من برامج الدعم والحوافز الكبيرة الموجه للقطاع الصناعي في ظل رؤية 2030
                        .goal-item 
                            span(data-sort='8').number
                            p.text تطوير نظام إدارة تعاوني لاستيراد المواد الخام المستخدمة في المصانع بالتعاون مع اتحاد الغرف السعودي
                        .goal-item 
                            span(data-sort='9').number
                            p.text دعم التحول الرقمي بتطوير تطبيقات ومنصات لإدارة المصانع والخدمات اللوجستية
                        .goal-item 
                            span(data-sort='10').number
                            p.text رفع نسبة مشاركة القطاع الخاص وزيادة حجم الاستثمارات بالقطاع اللوجستي والأعمال المساندة ضمن رؤية 2030 وبرنامج تطوير الصناعة الوطنية والخدمات اللوجستية
                        .goal-item 
                            span(data-sort='11').number
                            p.text توجيه شركات التغذية والمطاعم للتحول الآلي لرفع جودة الغذاء وزيادة فرص التوسع والانتشار الجغرافي
                        .goal-item 
                            span(data-sort='12').number
                            p.text إقامة معارض ومؤتمرات للتعريف بالفرانشايز بمشاركة شركات التغذية وشركات التمويل المالي لفتح آفاق جديدة للشباب لبدء مشاريع مستقرة بفرص نمو أكبر
                        .goal-item 
                            span(data-sort='13').number
                            p.text بناء شراكات مع المؤسسات التعليمية والتدريبية لدراسة احتياجات السوق المحلي
    .side_footer 
        .icon_container 
            .vertical
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
            .horizontal
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                .icon 
                    span  
                        .highligh  .. آفاق متجددة 
                        | لمستقبل واعد
